:root {
    --defaultChildSize: 44px; 
    --defaultCardHolderWidth:calc(304px - 25px);
    /* --defaultCardHolderWidth:calc(304px); */
    --minCardHolderWidth: 200px;
  }

  .mainBg {
    background: url('image.png') no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
  .gameWrapper {
    display: grid;
    place-items: end center;
    margin-bottom: 105px;
    width: 100%;
    height: 100vh;
  }
  
  .cardHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    width: var(--cardHolderWidth, var(--defaultCardHolderWidth)); 
    max-width: var(--defaultCardHolderWidth);
    min-width: var(--minCardHolderWidth);
    /* aspect-ratio: 1 / 1; */
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(5, calc(auto - 40px));  */
    background-color: cyan;
    column-gap: 40px;
    transition: all 0.5s ease;
    padding-inline:25px;
  }
  .cardBg{
    height: 100%;
    width: 100%;
    perspective: 1000px;
  }
  .cardBg img{
    transform-style: preserve-3d;
    transform: translateX(0%) translateZ(0) rotateX(56deg);
    transform-origin: bottom center;
    object-fit: contain;
  }
  
   
  .child {
    --childSize:21px;
    width: var(--childSize, var(--defaultChildSize)); 
    height: var(--childSize, var(--defaultChildSize)); 
    background: url(https://i.ibb.co/N9wmBgK/Hold-no.png) no-repeat center center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    transition: all 0.5s ease;
  }
  @media(min-width:360px){
    .child {
      --childSize:24px;
    }
  }
  @media(min-width:375px){
    .child {
      --childSize:25px;
    } 
  }
  @media(min-width:619px){
    .child {
      --childSize:30px;
    }
  }
  @media(min-width:620px){
    .child {
      --childSize:20px;
    } 
  }
  @media(min-width:900px){
    .child {
      --childSize:33px;
    } 
  }
  @media(min-width:1024px){
    .child {
      --childSize:26px;
    }
  }
  @media(min-width:1366px){
    .child {
      --childSize:31px;
    }
  }
  @media(min-width:1512px){
    .child {
      --childSize:33px;
    }
  }
  @media(min-width:1800px){
  .child {
    --childSize:40px;
  }
  }
 
  .cardBg img{
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  
  }
  .cardItem{
    display: flex;
    row-gap:0px;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
  
  }

@media(min-width:360px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.1316 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 1.1316);
  }
}
@media(min-width:375px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.1809 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 1.1809);
  }
}
@media(min-width:619px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 0.7236 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 0.7236);
  }
}
@media(min-width:620px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 0.9079 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 0.9079);
  }
}
@media(min-width:1024px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.1184 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 1.1184);
  }
}
@media(min-width:1366px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.4539 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 1.4539);
  }
}
@media(min-width:1512px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.5132 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 1.5132);
  }
}
@media(min-width:1800px){
  .cardHolder {
    width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.875 )); 
    max-width: calc(var(--defaultCardHolderWidth) * 1.875);
  }
}
.child {
  width: var(--childSize, var(--defaultChildSize)); 
  height: var(--childSize, var(--defaultChildSize)); 
}
