@import url(media.css);

:root {
    --defaultChildSize: 44px;
    --defaultCardHolderWidth: calc(570px - 0%);
    /* --minCardHolderWidth: 200px; */
}

.gameWrapper {
    display: grid;
    place-items: end center;
    margin-bottom: 108px;
    width: 100%;
    height: 100vh;
}


.mainBg {
    background: url('image.png') no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}

.cardHolder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    width: var(--cardHolderWidth, var(--defaultCardHolderWidth));
    max-width: var(--defaultCardHolderWidth);
    min-width: var(--minCardHolderWidth);
    column-gap: 27px;
    transition: all 0.5s ease;
    /* padding: 0 1.4%; */
}

.cardItem {
    display: flex;
    row-gap: 0px;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    /* transform-style: preserve-3d; */
    /* Ensures 3D context */
    position: relative;
    perspective: 1000px;
}

.cardItem:nth-child(1) .cardBg {
    transform: rotateX(50deg) scaleY(1) skewX(-9.5deg) scaleX(0.95);
}

.cardItem:nth-child(2) .cardBg {
    transform: rotateX(50deg) scaleY(1) skewX(-4.75deg) scaleX(calc(0.95));
}

.cardItem:nth-child(3) .cardBg {
    transform: rotateX(50deg) scaleY(1) skewX(0deg) scaleX(calc(0.95));
}

.cardItem:nth-child(4) .cardBg {
    transform: rotateX(50deg) scaleY(1) skewX(4.75deg) scaleX(calc(0.95));
}

.cardItem:nth-child(5) .cardBg {
    transform: rotateX(50deg) scaleY(1) skewX(9.5deg) scaleX(0.95);
}

.cardItem>*:not(.child) {
    /* transform: rotateX(56deg) ; */
    transform-origin: top;
}

.cardBg {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}


.cardBg img {
    width: 100%;
    height: calc(100% + 0px);
    object-fit: fill;
}

.child {
    --childSize: 21px;
    width: var(--childSize, var(--defaultChildSize));
    height: var(--childSize, var(--defaultChildSize));
    background: url(https://i.ibb.co/N9wmBgK/Hold-no.png) no-repeat center center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    /* position: absolute; */
    /* transform: none; */
    /* perspective: none; */
    transform-style: flat;
    position: absolute;
    bottom: -3px;
    z-index: 1;
}

.cardItem:nth-child(1) .child {
    transform: translateX(-24px);
}

.cardItem:nth-child(2) .child {
    transform: translateX(-12px);
}

.cardItem:nth-child(3) .child {
    transform: translateX(-0px);
}

.cardItem:nth-child(4) .child {
    transform: translateX(12px);
}

.cardItem:nth-child(5) .child {
    transform: translateX(24px);
}


@media(min-width:360px) {
    .child {
        --childSize: 24px;
    }
}

@media(min-width:375px) {
    .child {
        --childSize: 25px;
    }
}

@media(min-width:619px) {
    .child {
        --childSize: 30px;
    }
}

@media(min-width:620px) {
    .child {
        --childSize: 20px;
    }
}

@media(min-width:900px) {
    .child {
        --childSize: 33px;
    }
}

@media(min-width:1024px) {
    .child {
        --childSize: 26px;
    }
}

@media(min-width:1366px) {
    .child {
        --childSize: 31px;
    }
}

@media(min-width:1512px) {
    .child {
        --childSize: 33px;
    }
}

@media(min-width:1800px) {
    .child {
        --childSize: 40px;
    }
}

/* @media(min-width:360px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.1316));
        max-width: calc(var(--defaultCardHolderWidth) * 1.1316);
    }
}

@media(min-width:375px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.1809));
        max-width: calc(var(--defaultCardHolderWidth) * 1.1809);
    }
}

@media(min-width:619px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 0.7236));
        max-width: calc(var(--defaultCardHolderWidth) * 0.7236);
    }
}

@media(min-width:620px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 0.9079));
        max-width: calc(var(--defaultCardHolderWidth) * 0.9079);
    }
}

@media(min-width:1024px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.1184));
        max-width: calc(var(--defaultCardHolderWidth) * 1.1184);
    }
}

@media(min-width:1366px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.4539));
        max-width: calc(var(--defaultCardHolderWidth) * 1.4539);
    }
}

@media(min-width:1512px) { 
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.5132));
        max-width: calc(var(--defaultCardHolderWidth) * 1.5132);
    }
}

@media(min-width:1800px) {
    .cardHolder {
        width: var(--cardHolderWidth, calc(var(--defaultCardHolderWidth) * 1.875));
        max-width: calc(var(--defaultCardHolderWidth) * 1.875);
    }
}
 */
